* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  /*padding: 4px 15px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}


.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.navtop-container {
  width: 100%;
  background-color: #f5e5e5;
}

.navtop {
  display: flex;
  justify-content: space-between;
  background-color: #f5e5e5;
  gap: 15px;
}

.navtop .navtop-social-media {
  display: flex;
}

.navtop .navtop-social-media a {
  padding: 0 8px;
  text-decoration: none;
  color: black;
}

.navtop .navtop-social-media a span {
  display: flex;
  gap: 10px;
}

.navtop .navtop-social-media a span::after {
  content: '|';
}

.navtop .navtop-social-media a:last-child span::after {
  content: '';
}

.navtop .navtop-endereco {
  display: flex;
}

.navtop .navtop-endereco span {
  position: relative;
  padding: 0 8px;
  display: flex;
  gap: 10px;
}

.navtop .navtop-endereco span::after {
  content: '|';
}

.navtop .navtop-endereco a {
  text-decoration: none;
  color: black;
  display: flex;
  gap: 5px;
}



.navbottom {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbottom-container {
  width: 100%;
  background-color: #19414B;
}

.navbottom .menu ul {
  display: flex;
  gap: 14px;
  list-style: none;
}

.navbottom .menu ul li {
  padding: 0px 10px;
  position: relative;
}

.navbottom .menu ul li::after {
  content: '|';
  color: white;
  font-size: 20px;
  position: absolute;
  right: -10px;
}

.navbottom .menu ul li:last-child::after {
  content: '';
}

.navbottom .menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}